body {
    background-image: url(../images/pap.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

#form {
    margin: auto;
    border-radius: 10px;
    background-color: white;
    text-align: left;
    padding: 20px  50px;
    font-size: x-large;
    font-family: Leelawadee, monospace;
    height: 550px;
    width: 350px;
    margin-top: 30px;}

input {
    width: 300px;
    height: 30px;
    border-radius: 5px;
}
label{
    padding: 10px 0px;
}

#submit-btn {
    height: 28px;
    width: 150px;
    margin: auto;
    text-align: center;
    margin-left: 40px;
    padding-bottom: 0px;
    margin-top: 10px;
    border-radius: 5px;
}
#submit-btn:hover{
    cursor: pointer;
    background-color: rgba(71, 7, 155, 0.678);
    height: 40px;
    width: 155px;
    font-weight: bolder;
    transition-duration: 0.3s;
    border-radius: 5px;
    color: white;
}
#logo{
    background-color: #3d5af1;
    border-radius: 10px 10px 0px 0px ;
    color: white;
    /* margin-bottom: 10px; */
}
#img{
    margin-left: 10px;
    margin-top: 10px;
}
#signin{
    display: inline;
    padding-bottom: 25px;
}
label{
    margin-top: 40px;
}
input:focus{
    width: 305px;
    height: 35px;
    border-radius: 5px;
   outline: 2px solid #3d5af1;
    transition-duration: 0.2s;
}